@charset 'UTF-8';
@import url("./utilities.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Quantico:wght@400;700&display=swap");

:root {
  --cor-light: #f3f4f5;
  --cor-light-2: #cfd4d7;
  --cor-dark: #2b2f33;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Open Sans", sans-serif;
}

body {
  position: relative;
}

.c-header {
  background-color: var(--cor-light);
  padding-top: 20px;
  padding-bottom: 20px;
}

.c-main-content-header {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-logo__icone {
  background-image: url("../images/porcent-logo.svg");
  background-size: contain;
  height: 50px;
  width: 50px;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
}

.c-menu {
  gap: 16px;
  text-transform: capitalize;
}

.c-menu__link {
  color: var(--cor-dark);
}

.c-menu__link--hover:hover {
  text-decoration: underline;
}

.c-container {
  width: 1200px;
}

.c-calculator {
  flex-direction: row-reverse;
  gap: 24px;
  height: calc(100vh - 188px);
}

.c-calculate {
  background-color: var(--cor-light);
  border-radius: 16px;
  max-width: 376px;
  flex-grow: 0.5;
}

.c-calculate__title {
  text-align: center;
  font-size: 1rem;
  color: white;
  background-color: var(--cor-dark);
  border-radius: 16px 16px 0px 0px;
  padding: 8px;
}

.c-form {
  padding: 32px;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.c-select-month {
  display: block;
  padding: 6px 12px;
  width: 100%;
  border-radius: 8px;
  text-align: center;
  outline: 0;
}

.c-form__input {
  display: block;
  padding: 6px 12px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid;
  text-align: center;
  outline: 0;
}

.c-button {
  display: block;
  padding: 6px 12px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid;
  font-weight: bold;
  cursor: pointer;
}

.c-button-primary {
  background-color: var(--cor-dark);
  color: white;
  transition: 0.2s;
}

.c-button-secondary {
  background-color: transparent;
  color: var(--cor-dark);
  transition: 0.2s;
}

.c-button-primary--hover:hover {
  background-color: transparent;
  color: var(--cor-dark);
  transition: 0.2s;
}

.c-button-secondary--hover:hover {
  background-color: var(--cor-dark);
  color: white;
  transition: 0.2s;
}

.c-calculated-result {
  height: 328px;
  background-color: var(--cor-light-2);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px;
  color: var(--cor-dark);
  text-align: center;
  display: none;
  flex-grow: 3.5;
}

.c-calculated-result__title {
  text-align: center;
  font-size: 1rem;
  padding: 8px;
}

.c-calculated-result__frequency {
  font-size: 64px;
}

.c-information {
  width: 148px;
  display: block;
  text-align: left;
}

.c-footer {
  height: 88px;
  color: white;
  background-color: var(--cor-dark);
  text-align: center;
  padding: 8px;
  top: calc(100vh - 88px);
  position: fixed;
  width: 100%;
}

.c-footer__link {
  color: white;
}